
      section {
    padding: 40px 80px;
  }

.video-wrapper {
  display: flex;
  justify-content: center;
}
.video-wrapper iframe {
  max-width: 100%;
  width: 800px;
  height: 500px;
}
#gallery {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    figure {
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.1);
      margin: 30px auto;
      max-width: 800px;
      width: 100%;
      padding: 20px;
      text-align: center;
      transition: transform 0.3s ease;
      opacity: 90%;
    }

    figure img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
    a strong{ text-decoration: underline;}

      figure {
        padding: 15px;
      }