
        .centered-container {
            display: flex;
            justify-content: center; 
            align-items: center; 
            min-height: calc(100vh - 170px); 
            padding: 40px 20px;
        }

        
        .visa-form-box {
            background: #ffffff;
            padding: 30px 40px;
            border-radius: 10px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 450px; 
            text-align: center; 
        }
        
        
        .visa-form-box label,
        .visa-form-box input,
        .visa-form-box select,
        .visa-form-box button {
            display: block; 
            width: 100%;
            margin-top: 10px;
            box-sizing: border-box;
            text-align: left; 
        }
        
       
        .visa-form-box h2 { 
            color: #333; 
            margin-bottom: 25px; 
        }
        .visa-form-box input,
        .visa-form-box select {
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .visa-form-box button[type="submit"] {
            background-color: #333;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.1em;
            margin-top: 15px;
			text-align: center; 
        }