 .top-bar {
  background-color: #f0f0f0; 
  padding: 5px 10px;
  font-size: 14px;
  text-align: left;
  width: 100%;
}

.top-bar a {
  text-decoration: none;
  color: #333;
  margin-left: 5px;
  padding: 5px;
}
 section {
    padding: 40px 80px;
  }
  #adventure {
  padding: 60px 40px;
  text-align: center;
  margin-top: 40px; 
}
#adventure h1{
  
  color: rgb(38, 38, 232);

}
#adventure h2{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
  font-weight: bold;
  color: rgb(93, 93, 198);

}
#adventure figure {
  background: #fff;
  opacity: 80%;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  margin: 40px auto;
  max-width: 800px;
  padding: 20px;
  transition: transform 0.3s ease;
}
#adventure a {
  text-decoration: underline;
  color: rgb(133, 249, 255);
}
  h2 {
    text-align: center;
    color: #d0f2d0;
    margin-bottom: 30px;
  }
  .map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    border: 4px solid #fff;

  }

  .map-container:hover {
    transform: translateY(-5px);
  }

  .map-container img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    cursor: pointer;

  }

  p {
    color: #010a0a;
    max-width: 600px;
    margin: 20px auto 0;
    font-size: 15px;
    line-height: 1.6;
    font-weight: bold;
  }
   .home-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #d0f2d0;
  border-radius: 50%;
  padding: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.home-btn:hover {
  transform: translateY(-5px);
}

.home-btn img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50%;
}