    html {
  scroll-behavior: smooth;
}
body{
        margin: 0;
        padding: 0;
        background-image: url(../img/backgroung-saudi.jpg);
      background-attachment: fixed;
        overflow-x: hidden;

      }
      footer {
        text-align: center;
        color: white;
        background-color: rgba(153, 235, 240, 0.5);
        padding: 10px 0;
        width: 100%;
      }

      h1{
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: blanchedalmond;
      }
    nav {
        
      background-color: lightblue;
      display: flex;
      overflow: hidden;
      justify-content: space-between;
      align-items: center;
      width: 100% ;
      opacity: 0.7;
      padding: 0 10px;
      
    }

    nav ul {
      list-style-type: none;
      margin: 5px;
      padding: 0;
      display: flex;
    }
    nav ul li{
      margin-top: 30px;
      margin-right: 20px;
    }
   
 nav a {
      display: block;
      color: white;
      font-weight: bold;
      font-size: 15pt;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }

    nav a:hover {
text-decoration: underline;
  background-color: transparent;    }
    .right-lu {
      display: flex;
      gap: 15px; 

    }
    .right-lu  a{
        background-color: beige;
        color: black;
        border-radius: 5%;
        border-radius: 20px;

    }
     .right-lu a:hover {
      text-decoration: none;
      background-color: gray;
      color: white;
    }